/* ServicesSection.css */

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }

  .ServicesSection{
    background-color: #f9f9f9;
  }

  .services-head h2{
    font-size: 2rem;
    padding-top: 15px;
    color: #c70b8a;
    text-align: center;
    font-weight: bolder;
  }