.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    /* background: url('../../Assets/Hero/Hero-bg.png') no-repeat center center/cover; */
    background: darkgray;
  }
  
  .hero-content {
    flex: 1;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .hero-content p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
    
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-image img {
    max-width: 100%;
    border-radius: 10px; 
  }
  
  @media (max-width: 768px) {

  }
  
  @media (max-width: 480px) {
    .hero-content h1{
      font-size: 2rem;
    }
    .hero-content p{
      font-size: 1rem;
    }
    .hero-image{
      display: none;
    }
  }